body{
	background-color: grey
}

#bande{
	background-color: grey;
	height: 90vh;
	
}
.row{
	background-color: white;
}
.dd{
	margin: 12vh;
}
.btn-primary{
	background-color: #222222;
	border: grey
}
.btn-primary:hover{
	background-color: grey;
}
.btn-primary:active:{
	background-color: grey
}
.btn-primary:focus{
	background-color: black;
}
.btn-primary:active:hover{
	background-color: grey
}
.btn-primary:active:focus{
	background-color: grey
}