body{
	background-color: grey
}
/*
table{
	border: 2px solid;
	text-align: center;


}
tr{
	border: 2px solid;
	}
td{
	border: 2px solid;
}
th{
	border: 2px solid;
} */
#bande{
	background-color: grey;
	height: 90vh;
	
}
.row{
	background-color: white;
}
.dd{
	margin: 12vh;
}