table{
	color: black;

	 
}
td{
	padding-right: 10px;

}
th{

}

.ff{
	
	position:absolute;
	margin-left: -670px;
}
.ff1{
	
	position:absolute;
	margin-left: -600px;
}
.ff2{
	
	position:absolute;
	margin-left: -500px;
}
